<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>

<div th:replace="fragment/header :: header"/>

<div class="container">


    <div class="starter-template">
	
	
		<div class="row top-buffer">
			<div class="col-md-1"></div>
			<div class="col-md-8">
				<div class="well well-lg">
					<h3>
						<b>Crisis Stabilization Unit Home</b>
					</h3>
					<p>This is a data collection resource for Bed count. This
						allows DMH and its certified providers to administer and report
						the number of available beds. Menu availability is based on
						permissions for each user.</p>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<ul class="list-group">
					<div sec:authorize="hasRole('ADMIN')">
						<a th:href="@{/csu/adminLoad}" class="list-group-item"
							data-toggle="tooltip"
							title=" Administrators maintain the number of licensed beds and the number of active beds.">
							<b>BC Licensed/Active Beds </b>
						</a>
					</div>
					<div sec:authorize="hasAnyRole('USER','ADMIN')">
						<a th:href="@{/csu/csuUsers}" class="list-group-item"
							data-toggle="tooltip"
							title=""><b> Occupied Beds</b></a>
					</div>	
					<!-- <div sec:authorize="isAuthenticated()">	 -->	
					 <div sec:authorize="isAuthenticated()">
						<a th:href="@{/user/Adduser}" class="list-group-item"
							data-toggle="tooltip"
							title=""><b>Reports</b>
						</a>
					</div>
					
				
				</ul>
			</div>
			<div class="col-md-4">
				<div class="well well-lg">
					<p id="pBCLicense">BC Licensed/Active Beds - Administrators
						maintain the number of licensed beds and the number of active
						beds.</p>
					<p id="pBCOccupied">BC Occupied Beds - Providers submit the
						number of occupied beds.</p>
					<p id="pBCReports">BC Report - Report provides the summary data based on entries by the providers. </p>
					<p id="pBCDmhWeb">DMH Website - This link leads to the DMH
						website, www.dmh.ms.gov. This will navigate away from the Bed
						Count resource.</p>
					<p id="pBCMainmenu">CDR Main Menu - This link will return the
						user to the Central Data Repository (CDR).</p>
				</div>
			</div>
			<div class="col-md-1"></div>

		</div>
	
	
	
	
      

    </div>

</div>
<!-- /.container -->
<div th:replace="fragment/footer :: footer"/>

</body>
</html>